<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Purchase Confirmation</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        .container {
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .header {
            background-color: #007BFF;
            color: #fff;
            padding: 10px 0;
            text-align: center;
        }
        .content {
            margin: 20px 0;
        }
        .footer {
            text-align: center;
            color: #777;
            margin-top: 20px;
        }
        .button {
            display: inline-block;
            padding: 10px 20px;
            margin-top: 20px;
            background-color: #007BFF;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Order Confirmation</h1>
        </div>
        <div class="content">
            <p>Dear,<%=order.userName %></p>
            <p>Thank you for purchasing the <strong><%= order.name %> </strong></p>
            <p>Here are the details of your purchase:</p>
            <ul>
                <li><strong>Course Name:</strong> <%= order.name %></li>
                <li><strong>Purchase Date:</strong> <%= order.date %></li>
                <li><strong>Price:</strong> <%= order.price %></li>
            </ul>
            <p>We hope you enjoy the course and find it valuable. If you have any questions or need support, please do not hesitate to contact us.</p>
            <p>Best regards,</p>
            <p>The lms Team</p>
        </div>
        <div class="footer">
        </div>
    </div>
</body>
</html>
